.master {
  width: 320px;
  height: 410px;

  background-color: rgba(255, 255, 255, 0.813);

  backdrop-filter: blur(5px);

  box-shadow: 0 8px 32px rgba(255, 255, 255, 0.716);
  border-radius: 5px;
  cursor: pointer;

  text-align: center;
  align-items: center;
}

.master img {
  border-radius: 5px 5px 0 0;
  width: 320px;
  height: 250px;
}

.master:hover {
  transform: translateY(-5px);
  box-shadow: 0px 3px 5px rgba(255, 255, 255, 0.4);
}

.cardDatos {
  margin: 2px 10px;
}

.contTitulo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-lines: 1;
  text-align: center;
  align-items: center;
}

.pesoAndIcon {
  display: flex;
  justify-content: space-between;
}

.iconFav {
  font-size: 2rem;
  color: red;
}

.iconFav_delete {
  font-size: calc(1em + 1vw);
  color: red;
}

.iconUser {
  font-size: calc(1em + 1vw);

  color: red;

  margin: auto;
}

.cardDatos .contTitulo .cardNombre {
  color: #af8546;
  margin: 0;

  font-size: calc(1em + 0.6vw);
  font-weight: 500;
  display: flex;

  max-height: 90px;
  overflow: hidden;
  align-items: center;
  text-align: center;
}

.cardDatos .contTitulo .cardNombre p {
  margin: 5px 2px;
}

.datos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

span {
  font-weight: bold;
}

.cardDato {
  color: black;
  margin: 5px 2px;
  text-align: left;
  text-overflow: ellipsis;
  max-lines: 1;
}

.temperamentos {
  word-wrap: break-word;
  max-height: 50px;
  text-align: left;
  overflow: clip;
  max-lines: 2;
}

.temperamentos p {
  margin: 5px 2px;
  color: black;
}
