.contRey {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 110px;
  row-gap: 40px;
  width: 100vw;
  height: fit-content;
}

.contFiltros select {
  font-size: calc(1em + 0.2vw);
  margin: 10px 10px;
  border: none;
  background-color: black;
  color: #fff;
  border-radius: 16px;
  cursor: pointer;
  padding-left: 5px;
  transition: all 0.25s ease;
}

.arowButton,
.arowButtonLef {
  font-size: 5rem;

  margin: 10px 10px;
  border: none;

  color: black;
  border-radius: 16px;
  cursor: pointer;
}

.arowButton:hover {
  transform: translateX(3px);
}
.arowButtonLeft:hover {
  transform: translateX(-3px);
}

.no {
  font-size: 5rem;
  background-color: rgba(255, 255, 255, 0.244);
  border-radius: 2rem;
  padding: 0.5rem;
  align-content: center;
}

.tacho {
  cursor: pointer;
  background-color: rgb(226, 70, 70);
  height: 30px;
  border-radius: 0 0 6px 6px;
  transform: translateY(-26px);
  z-index: -100;
  color: #fff;
  align-items: center;
  padding-top: 0.25rem;
  font-size: 1.3rem;
}
